div{
    height: 650px;
    margin: 0.5%;
}

#red{
    background-color: rgb(226, 47, 47);
    width: 99%;
    height: 250px;
}

#green{
    float: left;
    background-color: rgb(37, 146, 37);
    width: 24%;
}

#blue{
    float: left;
    background-color: rgb(65, 65, 231);
    width: 49%;
}

#fuschia{
    float: left;
    background-color: fuchsia;
    width: 24%;
}

/**
    Responsive CSS
*/

@media screen and (max-width: 800px){
    #red{
        height: 75px;
    }
    
    #green{
        width: 49%;
    }
    /*Non si swappaaaa*/
    #blue{
        float: center;
        width: 99%;
    }

    #fuschia{
        width: 49%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1600px){
    #red{
        height: 150px;
    }

    #blue{
        width: 74%;
    }

    #fuschia{
        float: center;
        width: 99%;
        height: 125px
    }
}